<%- include("partials/header"); %>

    <div id="title">
      <div class="container-fluid containerHome">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a href="#" class="navbar-brand">MMO Market</a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a href="/addItem" class="nav-link">Sell</a>
              </li>
              <li class="nav-item">
                <a href="/market" class="nav-link">Buy</a>
              </li>
              <li class="nav-item">
                <a href="/myOffers" class="nav-link">My Offers</a>
              </li>
              <li class="nav-item">
                <a href="/myItems" class="nav-link">My items on sale</a>
              </li>
              <li class="nav-item">
                <a href="/contact" class="nav-link">Contact us</a>
              </li>
            </ul>
          </div>
        </nav>

        <div class="row">
          <div class="col-lg-6">
            <h1>The one place to buy and sell your in-game valuables.</h1>
            <button type="button" class="btn btn-outline-light btn-lg account-button">Login/Register</button>
          </div>
          <div class="col-lg-6">
            <img src="images/moonMille.png" alt="bird" class="title-image">
          </div>

        </div>
      </div>
    </div>

    <div id="sale">
      <div class="container-fluid containerHome">
        <div class="buy">
          <h4>We only accept verified users on our website. So, buy your stuff with no worry of getting scammed</h4>
          <a type="button" href="/market" class="btn btn-dark btn-lg account-button">Browse the Market</a>
          <a type="button" href="/addItem" class="btn btn-dark btn-lg account-button">Sell an Item</a>
        </div>
      </div>
    </div>

    <div id="offers">
      <div class="container-fluid containerHome">
        <h4>Contains information about how the user's offer status are known</h4>
      </div>
    </div>

    <div id="sellerItems">
      <div class="container-fluid containerHome">
        <h4>Contains information about who are buying the user's items on the market</h4>
      </div>
    </div>

    <div id="contact">
      <div class="container-fluid containerHome">
        <h4>Contains a way to report scammers to the admins or to report bugs in the software to the admins</h4>
      </div>
    </div>

<%- include("partials/footer"); %>
