<%- include("partials/header"); %>

  <div class="container-fluid containerMarket">
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Sold by</th>
          <th scope="col">In Game Name</th>
          <th scope="col">Server</th>
          <th scope="col">Price</th>
          <th scope="col">Your Offer</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Radiant Ring</td>
          <td>Mark</td>
          <td>BeastMaster64</td>
          <td>Alpha</td>
          <td>100 Gold</td>
          <td><input type="number" style="width: 80px;" name="offeredPrice"></td>
          <td><button type="submit" name="button" class="btn btn-outline-light btn-md">Buy</button></td>
        </tr>
        <tr>
          <td>Radiant Ring</td>
          <td>Mark</td>
          <td>BeastMaster64</td>
          <td>Alpha</td>
          <td>100 Gold</td>
          <td><input type="number" style="width: 80px;" name="offeredPrice"></td>
          <td><button type="submit" name="button" class="btn btn-outline-light btn-md">Buy</button></td>
        </tr>
        <tr>
          <td>Radiant Ring</td>
          <td>Mark</td>
          <td>BeastMaster64</td>
          <td>Alpha</td>
          <td>100 Gold</td>
          <td><input type="number" style="width: 80px;" name="offeredPrice"></td>
          <td><button type="submit" name="button" class="btn btn-outline-light btn-md">Buy</button></td>
        </tr>
        <tr>
          <td>Radiant Ring</td>
          <td>Mark</td>
          <td>BeastMaster64</td>
          <td>Alpha</td>
          <td>100 Gold</td>
          <td><input type="number" style="width: 80px;" name="offeredPrice"></td>
          <td><button type="submit" name="button" class="btn btn-outline-light btn-md">Buy</button></td>
        </tr>
        <tr>
          <td>Radiant Ring</td>
          <td>Mark</td>
          <td>BeastMaster64</td>
          <td>Alpha</td>
          <td>100 Gold</td>
          <td><input type="number" style="width: 80px;" name="offeredPrice"></td>
          <td><button type="submit" name="button" class="btn btn-outline-light btn-md">Buy</button></td>
        </tr>
        <tr>
          <td>Radiant Ring</td>
          <td>Mark</td>
          <td>BeastMaster64</td>
          <td>Alpha</td>
          <td>100 Gold</td>
          <td><input type="number" style="width: 80px;" name="offeredPrice"></td>
          <td><button type="submit" name="button" class="btn btn-outline-light btn-md">Buy</button></td>
        </tr>
        <tr>
          <td>Radiant Ring</td>
          <td>Mark</td>
          <td>BeastMaster64</td>
          <td>Alpha</td>
          <td>100 Gold</td>
          <td><input type="number" style="width: 80px;" name="offeredPrice"></td>
          <td><button type="submit" name="button" class="btn btn-outline-light btn-md">Buy</button></td>
        </tr>
        <tr>
          <td>Radiant Ring</td>
          <td>Mark</td>
          <td>BeastMaster64</td>
          <td>Alpha</td>
          <td>100 Gold</td>
          <td><input type="number" style="width: 80px;" name="offeredPrice"></td>
          <td><button type="submit" name="button" class="btn btn-outline-light btn-md">Buy</button></td>
        </tr>
        <tr>
          <td>Radiant Ring</td>
          <td>Mark</td>
          <td>BeastMaster64</td>
          <td>Alpha</td>
          <td>100 Gold</td>
          <td><input type="number" style="width: 80px;" name="offeredPrice"></td>
          <td><button type="submit" name="button" class="btn btn-outline-light btn-md">Buy</button></td>
        </tr>
        <tr>
          <td>Radiant Ring</td>
          <td>Mark</td>
          <td>BeastMaster64</td>
          <td>Alpha</td>
          <td>100 Gold</td>
          <td><input type="number" style="width: 80px;" name="offeredPrice"></td>
          <td><button type="submit" name="button" class="btn btn-outline-light btn-md">Buy</button></td>
        </tr>
        <tr>
          <td>Radiant Ring</td>
          <td>Mark</td>
          <td>BeastMaster64</td>
          <td>Alpha</td>
          <td>100 Gold</td>
          <td><input type="number" style="width: 80px;" name="offeredPrice"></td>
          <td><button type="submit" name="button" class="btn btn-outline-light btn-md">Buy</button></td>
        </tr>
        <tr>
          <td>Radiant Ring</td>
          <td>Mark</td>
          <td>BeastMaster64</td>
          <td>Alpha</td>
          <td>100 Gold</td>
          <td><input type="number" style="width: 80px;" name="offeredPrice"></td>
          <td><button type="submit" name="button" class="btn btn-outline-light btn-md">Buy</button></td>
        </tr>
        <tr>
          <td>Radiant Ring</td>
          <td>Mark</td>
          <td>BeastMaster64</td>
          <td>Alpha</td>
          <td>100 Gold</td>
          <td><input type="number" style="width: 80px;" name="offeredPrice"></td>
          <td><button type="submit" name="button" class="btn btn-outline-light btn-md">Buy</button></td>
        </tr>
        <tr>
          <td>Radiant Ring</td>
          <td>Mark</td>
          <td>BeastMaster64</td>
          <td>Alpha</td>
          <td>100 Gold</td>
          <td><input type="number" style="width: 80px;" name="offeredPrice"></td>
          <td><button type="submit" name="button" class="btn btn-outline-light btn-md">Buy</button></td>
        </tr>
        <tr>
          <td>Radiant Ring</td>
          <td>Mark</td>
          <td>BeastMaster64</td>
          <td>Alpha</td>
          <td>100 Gold</td>
          <td><input type="number" style="width: 80px;" name="offeredPrice"></td>
          <td><button type="submit" name="button" class="btn btn-outline-light btn-md">Buy</button></td>
        </tr>
      </tbody>
    </table>
  </div>

<%- include("partials/footer"); %>
